/*Comments in this document are the tasks*/

body{
	background-color: #D2F9EC;
}
h1{
	text-align: center; /*Header with centered Logo*/
}
#header img{
	width: 100%;
	height: auto;
}

#nav{
	position: sticky;
	top:0;
	width: 100%;
	height: auto;
	background-color: green;
}

#feature{
	width: 100%; /*Feature section 100% width of the screen size*/
	height: auto;
	border-bottom: 1px solid;
}



		

a{	
	text-decoration: none; /*Horizontal navigation menu composed of five navigation links*/
}

.box{
	width: 33%
}