/*Comments in this document are the tasks*/

body{
	margin: 0; 
	padding: 0;
	font-style: serif;
	letter-spacing: 3px;

}
h1{
	text-align: center; /*Header with centered Logo*/

}
#header{
	position: relative;
	top:0;
}
#header img{
	width: 100%;
	height: auto;
}

#nav{				/*Horizontal navigation menu composed of five navigation links*/
	position: sticky;
	top:0;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 10px;
	color: grey;
}
a{	
	text-decoration: none; 
	font-size: 20px;
	padding: 0px;
}

#feature{
	width: 100%; /*Feature section 100% width of the screen size*/
	height: auto;
	border: 1px solid;

}

#footer{
	text-align: center;
}

